# See https://www.dartlang.org/tools/private-files.html

.DS_Store
Thumbs.db

# Files and directories created by pub
.packages
.pub/
.dart_tool/
build/

# Generated sources
*.pb.dart
*.generated.dart
*.g.dart

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

datastore-emulated
.atom
.idea
*.iml
.vscode
